
/* Main background color */
QMainWindow {
	background-color:#fff;
}

/* Main horisontal toolbar with buttons */
QToolBar {
    background-image: url(':/images/header_bg');
	border:0px solid #000;
	padding: 5px 0px 0px;
	margin:0;
}

QToolBar > QToolButton {
	background-color: transparent;
	color: #ddd;
	border:0px solid #333;
	min-height:2.5em;
	padding: 0em 1em;
	font-weight:bold;
	margin-top: 5px;
	border-top: 3px solid transparent;
}

QToolBar > QToolButton:hover {
	background-color: rgba(19, 19, 19, 64);
	color: #fff;
	font-weight:bold;
	border-top: 3px solid rgba(85, 85, 85, 128);
}

QToolBar > QToolButton:checked {
	background-color: #fff;
	color: #333;
	font-weight:bold;
	border-top: 3px solid #eea236;
}

/* Menu on the top */
QMenuBar {
	background-color: #131313;
	color: #bbb;
}

QMenuBar::item {
	background-color:#131313;
}

QMenuBar::item:selected {
	background-color:#333;
	color: #fff;
}

QMenu::item:selected {
	background-color: #333;
	color: #fff;
}

/* Bootstrap style button, default */
QPushButton {
	color: #fff;
	background-color: #333;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 6px 12px;
	min-width: 80px;
	qproperty-icon: url(" ");	/* hide icons */
}

QPushButton:hover {
	background-color: #444;
}

QPushButton:pressed {
	background-color: #555;
}


/* Green button */
QPushButton#okButton, 
QPushButton#sendButton,
QPushButton#receiveButton {
	color: #EEE;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
}

QPushButton#okButton:hover, 
QPushButton#sendButton:hover
QPushButton#receiveButton:hover {
	background-color: #4cae4c;
	border: 1px solid #3c983c;
}

QPushButton#okButton:pressed, 
QPushButton#sendButon:pressed
QPushButton#receiveButton:pressed {
	background-color: #3c983c;
}

/* Red button */
QPushButton#cancelButton, 
QPushButton#removeRequestButton,
QPushButton#clearButton {
	color: #EEE;
	background-color: #d9534f;
	border: 1px solid #c9433f;
}

QPushButton#cancelButton:hover, 
QPushButton#removeRequestButton:hover,
QPushButton#clearButton:hover {
	background-color: #c9433f;
	border: 1px solid #b9332f;
}

QPushButton#cancelButton:pressed, 
QPushButton#removeRequestButton:pressed,
QPushButton#clearButton:pressed {
	background-color: #b9332f;
}

/* Orange button */
QPushButton#resetButton, 
QPushButton#clearButton {
	color: #EEE;
	background-color: #f0ad4e;
	border: 1px solid #eea236;
}

QPushButton#resetButton:hover, 
QPushButton#clearButton:hover {
	background-color: #eea236;
	border: 1px solid #de9226;
}

QPushButton#resetButton:pressed, 
QPushButton#clearButton:pressed {
	background-color: #de9226;
}

/* Special-style buttons */
QPushButton#openBitcoinConfButton {
	width: 200px;
}

QPushButton#warningIcon, 
QPushButton#labelTransactionsStatus, 
QPushButton#labelWalletStatus {
	qproperty-icon: url(":/icons/warning");
	background-color: transparent;
	border: none;
}

/* Transparent, fake buttons */
QWidget#OverviewPage .QPushButton {
	background-color: transparent;
	border: none;
}

QPushButton#labelTransactionsStatus {
	background-color: transparent;
	border: none;
}

/* Per page stuff */
QWidget#SendCoinsDialog QFrame * {
	background-color: #fff;
	color: #111;
}

QWidget#OverviewPage > QFrame {
	color: transparent;
	border: none;
}


/*
useful


QMenu {
	background-color:#f8f6f6;
}

QMenu::item {
	color:#333;
}

QMenu::item:selected {
	background-color:#a0826f;
	color:#333;
}

qproperty-toolButtonStyle: ToolButtonIconOnly;

    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    	stop: 0 #e3b89b, stop: 1 #f3d8bb);


*/
